<style>
  .container { width: 800px; font-family: Arial, Helvetica, sans-serif;
  align-items: center; display: flex; flex-direction: column; } span { margin:
  10px; }
</style>
<div class='container'>
  {{!-- <img src='https://i.imgur.com/oUAKMC5.png' alt='Logo Rentx' /> --}}
  <br />

  <span>Guia de emcaminhamento em anexo.</span>
  <br>
  
  <strong>Obrigado!</strong>

  <h3>Equipe SimpleSST</h3>
</div>