<style>
  .container { width: 800px; font-family: Arial, Helvetica, sans-serif;
  align-items: center; display: flex; flex-direction: column; } span { margin:
  10px; }
</style>
<div class='container'>
  {{!-- <img src='https://i.imgur.com/oUAKMC5.png' alt='Logo Rentx' /> --}}
  <br />

  <span>Você foi comvidado para ser membro da empresa {{company}}.</span>
  <br>
  <span>Para aceitar o convite, clique no link
    <a href='{{link}}'>www.simplesst.com</a>
  </span>
  <span>Caso não tenha interesse, ignore esse e-mail.</span>

  <strong>Obrigado!</strong>

  <h3>Equipe Simple</h3>
</div>